<div class="cobiro-c-team-card__image">
    <div [style.background-image]="backgroundImg" class="cobiro-c-team-card__image--size">
    </div>
</div>
<div class="cobiro-c-team-card__personal">
    <div class="cobiro-c-team-card__personal__name__and__surname">{{member.block.title}}</div>
    <div class="cobiro-c-team-card__personal__workplace">{{member.block.description}}</div>
</div>
<div class="cobiro-c-team-card__contact">
    <a class="cobiro-c-team-card__contact__email" href="mailto:{{member.block.link}}">{{member.block.link}}</a>
    <div class="cobiro-c-team-card__contact__phone">{{member.block.text}}</div>
</div>