.cobiro-c-team-card__image--size{
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 200px;
    height: 200px; 
}

.cobiro-c-team-card__personal {
    padding: .5rem .9rem;
    
    &__name__and__surname{
        font-size: 20px;
        font-weight: bold;
        padding: .1rem;
    }

    &__workplace{
        font-size: 16px;
        padding: .1rem;
    }
}

.cobiro-c-team-card__contact {
    padding: .5rem .9rem;

    &__email {
        font-size: 12px;
        padding: .2rem;
    }

    &__phone {
        font-size: 12px;
        padding: .2rem;
    }
}