<div *ngIf="$teamList | async as teamList; else loading">
    <div *ngFor="let team of teamList">
        <div class="cobiro-c-our-team__title">{{team?.attributes?.title}}</div>
        <div class="cobiro-c-our-team__content">
            <div class="cobiro-c-our-team__content__card" *ngFor="let member of team?.attributes?.memberCards">
                <cobiro-team-card [member]="member"></cobiro-team-card>
            </div>
        </div>
    </div>
</div>

<ng-template #loading>
    <p>Loading ...</p>
</ng-template>