:host {
    display: flex;
    flex-flow: column;
}

%block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cobiro-c-our-team__content{
    @extend %block;   
    flex-wrap: wrap; 
}

.cobiro-c-our-team__title {
    @extend %block;

    font-size: 32px;
    font-weight: bold;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.cobiro-c-our-team__content__card {
    margin: .5rem;
}